{% extends 'base.html'%}
        {% block title%}About{%endblock%}%
    
    {%block content%}
        <h1 class="text-danger text-center">About Us</h1>
        <hr>
        <div class="container text-primary"><p style="padding-left: 55px;padding-right: 55px;">The vision ‘affordable, accessible and quality healthcare for all’, a dream of visionary, Dr. K G Alexander was made a reality in 1987 with the commencement of Baby Memorial Hospital (BMH). The novel initiative then marked a revolution in the healthcare segment in Kerala, thus symbolizing an answer for the growing healthcare demands of the state. A tribute to late K C Varghese (known as ‘Baby’), father of Dr. K G Alexander, the Chairman and Managing Director, the hospital has set a benchmark in offering unprecedented care.</p>
        <p style="padding-left: 55px;">With only 52 beds when started, the hospital now boasts world‐class amenities, which includes:</p></div>
         <div style="padding-left: 175px; " class="font-weight-bold text-success">
            <li class="font-weight-bold">600 beds.</li>
            <li>Exceptional paramedical support system.</li>
            <li>16 world-class operation theatres.</li>
            <li>11 fully equipped ultramodern ICUs.</li>
            <li>24‐hours accident and trauma care unit.</li>
        </div></div>
            <div class="row" style="padding-top: 30px; padding-left: 30px;">
                <div class="col-lg-6 rounded  border border-warning mb-3 bg-dark text-white" >
                    <div class="color-box-item ">
           
                    <h2 class="text-center">Vision & Mission</h2><br><hr>
                   <p><b>Vision : </b>Affordable, Accessible and Quality Services to All.</p>
                   <p><b>Mission :</b>“BMH shall provide quality healthcare in a safe and patient centred environment by highly skilled professionals using current best medical practices and advanced technology. We offer patients outstanding value in an environment friendly atmosphere”.</p>
                    

            </div>
        </div>
        <div class="col-lg-6 pl-50 text-center col-lg-6 rounded  border border-warning mb-3 bg-dark text-white"><h2>BMH - more than care</h2><hr>
            <p>Being committed to care for three decades has meant a lot to us. It helped us to understand better on how to give you more than care, through deeper understanding of your needs. We have thus, combined the best of healthcare, commitment and personal attention to give you a unique healing experience.</p>
            </div>
        </div>
        
      
            {%endblock%} 