{% extends 'base.html'%}
        {% block title%}Contact Us{%endblock%}%
    
    {%block content%}
        
    <h1 class ="text-center" style="padding-top: 30px;"><b  style="font-size: 55px;color: rgb(201, 124, 31); ">Get In Touch With Us</b> </h1>
    <div class="container" style="background-color: antiquewhite;"><p class="text-center">If you can't find an answer to your questions, please don't hesitate to contact us.</p>
    <p class ="text-center"><b style="color: rgb(144, 144, 240);font-size: 30px;">City Hospital</b></p>
    <p class="text-center">Champ de Mars, 5 Avenue Anatole France, 75007 Paris, France</p>
    <p><b style="color: rgb(240, 147, 7);">PHONE </b> <br>+91-495-2723272,+91-495-2777777</p>
    <p><b style="color: rgb(240, 147, 7);">EMERGENCY</b><br>+91 974 720 0002</p>
    <p><b style="color: rgb(240, 147, 7);">FAX</b><br>+91-495-2723484</p>
    <p><b style="color: rgb(240, 147, 7);">E-MAIL</b><br>info@cityhospital.com</p>

    </div>
    <div class="container google-map"></div>
    
    {%endblock%} 